<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">

            <h1 class="mb-1">Enlaces Favoritos</h1>
            <h3 class="mb-5"></h3>
            <div class="form-goup">
                <a href="/signin" class="btn btn-primary">
                    Ingresar
                </a>
                <div class="form-group">
                    <div class="form-group">
                        o 
                    </div>
                    <a href="/signup">
                        Crea cuenta
                    </a>

                </div>
                
            </div>


        </div>

    </header>
    
</main>