body{
    background: url("/img/pexels-gdtography-911738.jpg");
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


.index{
    width: 100%;
    height: 100%;
    
    
}

.masthead{
    color:black;
    min-height: 30rem;
    width: 100%;
    padding-top: 8rem;
   
}

.table{
   height: 70%;
}

.card{
    background-color:lightblue ;
}
.itemEdit{
    display: table-cell;
    vertical-align: middle


}

